/* The timeline style is based off this snippet :
 * https://bootsnipp.com/snippets/featured/timeline-responsive
 * published by luisrudge under MIT licence
 */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

#welcome-text {
    margin: 20px;
}

#welcome-text li {
    list-style-type: circle;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
}

#container {
    margin-top: 80px;
    margin-bottom: 120px;
}

.red {
  color: #d94343;
}

.orange {
  color: #e09a4e;
}

.green {
  color: #3f903f;
}

.page-header {
    border: 1px solid #5bc0de;
    border-radius: 2px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 1, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 1, 0.175);
}

.page-header li {
    list-style-type: none;
}


.banner-image {
    width: 100%;
    height: 163px;
}

#banner-image-default {
    background-image: url(/static/ma_commune/img/pagebanner.jpg);
}

#header-content {
    padding: 20px;
}

#header-content .project-link {
    font-size: 20px;
}

#header-content .project-link img {
    height: 30px;
    margin-top:-5px;
}

#event-banner {
    padding-bottom: 0px;
}
  
.size-data {
    float: right;
    font-size: small;
    margin-top: 10px;
    color: #999;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

@media (max-width: 767px) {
    .timeline > li:nth-child(odd):after {
      clear: both;
    }
}

@media (min-width: 768px) {
    .timeline > li:nth-child(odd):after {
      clear: right;
      padding-top:70px;
    }
    
    .timeline > li:nth-child(even):after {
      clear:left;
    } 
}

.timeline {
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 0px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}


.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #5bc0de;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 1, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 1, 0.175);
}

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #5bc0de;
                border-right: 0 solid #5bc0de;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: relative;
            top: 64px;
            left: 50%;
            margin-left: -25px;
            background-color: #5bc0de;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

.timeline > li:nth-child(2n) .timeline-badge .glyphicon {
    display: flex;
    position: absolute;
    top: 15px;
    left: 15px;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
    
    .timeline > li:after {
        clear: both;
    }
}

@media (min-width:768px){
    .timeline > li:nth-child(even) > .timeline-panel {
      float: right;
    }
    
    .timeline > li:nth-child(even) > .timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }
    
    .timeline > li:nth-child(even)  > .timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }
}

/* hide the blocs at the beginning, while waiting for the scripts to be executed */
.hidden {
    display: none;
}

/* image square */
.square-container {
    margin: auto;
    width: 100%;
}

.square {
    float:left;
    position: relative;
    width: 48%;
    padding-bottom: 48%; /* = width for a 1:1 aspect ratio */
    margin:1%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.square-bottom {
    clear: both;
}

.images-number {
    margin-bottom: 1em;
}

.panel-heading {
    cursor: pointer;
}

/* fix margin of the spinner */
#spinner {
    padding-top: 9px;
}
